.mobile-view {
  .topic-list .topic-list-item-wrapper {
    .topic-main-link .topic-list-data {
      padding: 10px 0 7px 0;
      .link-bottom-line {
        margin-top: 2px;
      }
    }
    .topic-list-item-bottom-infos {
      .topic-list-data-container {
        margin-left: 10px;
        & > * {
          width: fit-content;
          min-width: 45px;
        }
        flex: 1 0 auto;
      }
      .posters-container {
        flex: 0 0 auto;
      }
    }
  }
}
