/**
 * Topic list & item
 */

body.navigation-topics {
  tbody {
    border: none;
  }
}

.topic-list-body tr {
  width: 100%;
}

@include breakpoint(medium, $sidebar: true) {
  .topic-list {
    .views {
      display: unset;
    }
  }
}

.topic-list-item.visited .topic-list-data,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: var(--primary-high);
  }
  .badge-category {
    color: var(--primary-high);
  }
  .discourse-tag,
  .discourse-tag:visited {
    color: var(--primary-high);
  }
}

.topic-list .topic-list-item-wrapper {
  max-width: calc(100vw - 20px);
  display: flex;
  flex-wrap: wrap;
  a.avator {
    padding: 8px 10px 8px 5px;
  }
  .main-link {
    width: calc(100% - 80px);
  }
  .topic-excerpt {
    width: 95%;
    padding: 0 10px;
  }
  .topic-list-item-bottom-infos {
    width: 100%;
    display: inline-flex;
    .topic-list-data-container {
      width: fit-content;
      display: inline-flex;
      flex: 0 0 auto;
      & > * {
        width: 50px;
        text-align: start;
        margin-right: 10px;
      }
    }
    .posters-container {
      flex: 1 0 auto;
    }
    .num.activity {
      width: fit-content;
      flex: 0 0 auto;
      margin-left: 10px;
      text-align: end;
    }
  }
}

.navigation-container .category-breadcrumb {
  display: none;
}

.topic-list-item,
.latest-topic-list-item {
  &:hover {
    cursor: pointer;
    background: rgba(var(--primary-rgb), 0.025);
  }
}

#list-area .show-more {
  position: relative;
}